<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>None</string>
        <key>CFBundleURLName</key>
        <string>tencentopenapi</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent1101840711</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>None</string>
        <key>CFBundleURLName</key>
        <string>com.weibo</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wb489783059</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleURLIconFile</key>
        <string></string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>mmmono</string>
          <string>mono</string>
          <string>mono3</string>
        </array>
        <key>CFBundleURLName</key>
        <string>mmmono</string>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>None</string>
        <key>CFBundleURLName</key>
        <string>weixin</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wxbdeed39cb411db93</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>None</string>
        <key>CFBundleURLName</key>
        <string>com.readitlater</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>pocketapp36683</string>
        </array>
      </dict>
    </array>
    <key>NSContactsUsageDescription</key>
    <string>MONO需要使用通讯录内容来找到同样在玩MONO的好友</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>DTPlatformVersion</key>
    <string>11.3</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>com.mmmono.mono.viewing-gmeow</string>
      <string>com.mmmono.mono.viewing-cmeow</string>
      <string>NSUserActivityTypeBrowsingWeb</string>
    </array>
    <key>CFBundleName</key>
    <string>MONO</string>
    <key>DTSDKName</key>
    <string>iphoneos11.3</string>
    <key>MiSDKAppID</key>
    <string>2882303761517679723</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>MONO需要相册权限来选取图片</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.lifestyle</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>MiSDKRun</key>
    <string>online</string>
    <key>CFBundleDisplayName</key>
    <string>MONO</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>pocket-oauth-v1</string>
      <string>mqqwpaopenid</string>
      <string>org-appextension-feature-password-management</string>
      <string>mqqconnect</string>
      <string>mqq</string>
      <string>mqqapi</string>
      <string>mqqopensdkapiV3</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>mqqopensdkapiV2</string>
      <string>mqqopensdkdataline</string>
      <string>mqqopensdkgrouptribeshare</string>
      <string>mqqwpaopenid</string>
      <string>mqqtribe</string>
      <string>wtloginmqq</string>
      <string>mqqopensdkfriend</string>
      <string>wtloginmqq2</string>
      <string>weixin</string>
      <string>sinaweibo</string>
      <string>sinaweibohd</string>
      <string>sinaweibosso</string>
      <string>weibo</string>
      <string>weibosso</string>
      <string>weibosdk</string>
      <string>weibosdk2.2</string>
      <string>weibosdk2.5</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>MONO需要获取位置以完善您的个人信息</string>
    <key>MiSDKAppKey</key>
    <string>5921767941723</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>remote-notification</string>
    </array>
    <key>DTSDKBuild</key>
    <string>15E217</string>
    <key>NSCameraUsageDescription</key>
    <string>MONO需要相机权限来拍照</string>
    <key>CFBundleShortVersionString</key>
    <string>3.6.8</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>17E199</string>
    <key>DTPlatformBuild</key>
    <string>15E217</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>DTXcodeBuild</key>
    <string>9E145</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>MinimumOSVersion</key>
    <string>8.0</string>
    <key>CFBundleVersion</key>
    <string>2018040401</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>需要您的同意才能保存图片到您的相册</string>
    <key>UIAppFonts</key>
    <array>
      <string>ITCAvantGardeStd-MdCn.otf</string>
      <string>FZSongKeBenXiuKaiS-R-GB.TTF</string>
      <string>ITCAvantGardeStd-XLt.otf</string>
      <string>ITCAvantGardeStd-BoldCn.otf</string>
      <string>ITCAvantGardeStd-Bk.otf</string>
      <string>ITCAvantGardeStd-BkCn.otf</string>
      <string>ITCAvantGardeStd-BkCnObl.otf</string>
      <string>ITCAvantGardeStd-BkObl.otf</string>
      <string>HelveticaNeueLights.ttc</string>
      <string>HelveticaNeue.ttc</string>
      <string>ITCAvantGardeStd-BoldCnObl.otf</string>
    </array>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>CFBundleGetInfoString</key>
    <array>
      <string></string>
    </array>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-1100-Portrait-2436h</string>
        <key>UILaunchImageSize</key>
        <string>{375, 812}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>11.0</string>
      </dict>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Portrait-736h</string>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
      </dict>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-667h</string>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
      </dict>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700</string>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
      </dict>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
      </dict>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-Portrait</string>
        <key>UILaunchImageSize</key>
        <string>{768, 1024}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
      </dict>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>Fabric</key>
    <dict>
      <key>Kits</key>
      <array>
        <dict>
          <key>KitInfo</key>
          <dict/>
          <key>KitName</key>
          <string>Crashlytics</string>
        </dict>
      </array>
      <key>APIKey</key>
      <string>8284e1cf0c6eb01a4946e6bbe6ec3ae152eab4d7</string>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>com.mmmono.mono</string>
    <key>DTXcode</key>
    <string>0930</string>
    <key>UIApplicationShortcutItems</key>
    <array>
      <dict>
        <key>UIApplicationShortcutItemType</key>
        <string>com.mmmono.mono.force_recent</string>
        <key>UIApplicationShortcutItemIconType</key>
        <string>UIApplicationShortcutIconTypeBookmark</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>最近浏览</string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemType</key>
        <string>com.mmmono.mono.force_qrcode</string>
        <key>UIApplicationShortcutItemIconType</key>
        <string>UIApplicationShortcutIconTypeContact</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>我的二维码</string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemType</key>
        <string>com.mmmono.mono.force_tea</string>
        <key>UIApplicationShortcutItemIconType</key>
        <string>UIApplicationShortcutIconTypeLove</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>早午茶</string>
      </dict>
    </array>
    <key>CFBundleExecutable</key>
    <string>MONO</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>jpush.cn</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
          <string>AppIcon83.5x83.5</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
  </dict>
</plist>
